@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.navbar-toggler{
    display: none;
}

@media screen and (max-width:1200px){
    .navbar-toggler{
        display: inline;
        order: -1;
    }
   
}



nav .navbar-brand{
    text-decoration: none;
    color: #FC4308;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
}

nav .categories-list{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 15px;
}

.header-icon img{
    width: 120px;
}

.search-input{
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
}

.left-icon input{
    border: none;
    outline: none;
    background: transparent;
}

.right-section .search-text{
    border: 1px solid #F5F5F5;
    display: flex;
    padding: 12px;
    background-color: #F5F5F5;
    width: auto;
    padding:14px, 16px, 14px, 16px;
    height: 48px;
    border-radius: 12px;
}

.right-section input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 300px;
}

.avatar{
    align-items: center;
}
.avatar p{
    margin-top: 15px;
}

@media screen and (max-width:1200px){
    .right-section{
        display: none !important;
    }
   
}

@media screen and (max-width:768px) {
    .right-section ul{
        display: none;
    }
    .right-section .rounded-circle{
        display: none;
    }
    .right-section .mt-3, .right-section img{
        display: none;
    }
    
}


.second-section .card{
    height: 48px;
    display: flex;
    align-items: center;
    width: 158px;
    flex: none;
    border-radius: 12px;
    padding:10px;
    color: #ffffff;
    position: relative;
}
.second-section .card p{
    position: absolute;
}

.second-section .card img{
    position: absolute;
    filter: blur(2px);
    border-radius: 12px;
    width: 100%;
    height: 48px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.second-section .carousel-cards{
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    border-radius: 12px;
    padding: 10px;
    align-items: center;
    gap: 30px;
    position: relative;
    
}

@media screen and (max-width:1024px) {
    .second-section .carousel-cards{
        display: none !important;
    }
}



.second-section .carousel-cards::-webkit-scrollbar{
    display: none;
}
.second-section .next-btn{
    align-items: center;
    display: flex;
    position: sticky;
    right: 0;

}




 .section-3-cards .card-text-border{
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    left: 0;
    border-radius: 12px;
    padding: 5px;
    margin: 10px;
    right: 0;
}

@media screen and (max-width:1024px) {
    .section-3-cards{
        display: none !important;
    }
}
.tablet-carousel-section-3{
    display: none;
} 

.tablet-carousel-section-3 img{
    height: 320px;
    object-fit:cover;
    border-radius: 25px;
}

@media screen and (max-width:1024px) {
    .tablet-carousel-section-3{
        display: inline;
    }
}
@media screen and (max-width:430px) {
    .tablet-carousel-section-3{
        display: none;
    }
}

/*------------------------------------------------------*/

.section-4-header{
    display: flex;
    justify-content: space-between;
}
.section-4-header .left-section{
    display: flex;
    align-items: center;
    line-height: 23.44px;
    font-weight: 500;
}

.section-4-header .left-section .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}
.section-4 .cards{
    display: flex;
    gap: 25px;
    overflow-x: scroll;
}

.section-4 .cards::-webkit-scrollbar{
    display: none;
}
.section-4 .right-section-buttons .buttons{
    display: flex;
    gap: 15px;
}
.section-4 .right-section-buttons .buttons .button-border{
    width: 40px;
    height: 40px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.section-4 .cards .card{
    flex: none;
}


.section-4 .cards h5{
    font-size: 16px !important;
}

.section-4 .cards p{
    font-size: 14px;
    color: rgba(62, 50, 50, 0.75);
    text-transform: capitalize;
}

.section-4 .card-end{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 1);
}
.section-4 .card-end .left-section .image-text{
    line-height: 22px;
    align-items: center;
}
.section-4 .card-end .left-section .image-text b{
    font-size: 14px;
}
.section-4 .card-end .left-section .image-text p{
    font-size: 12px;
}

.section-4 .card-end .left-section img{
    border-radius: 12px;
}