@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.navbar-toggler{
    display: none;
}

@media screen and (max-width:1200px){
    .navbar-toggler{
        display: inline;
        order: -1;
    }
   
}



nav .navbar-brand{
    text-decoration: none;
    color: #FC4308;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
}

nav .categories-list{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 15px;
}

.header-icon img{
    width: 120px;
}

.search-input{
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
}

.left-icon input{
    border: none;
    outline: none;
    background: transparent;
}

.right-section .search-text{
    border: 1px solid #F5F5F5;
    display: flex;
    padding: 12px;
    background-color: #F5F5F5;
    width: auto;
    padding:14px, 16px, 14px, 16px;
    height: 48px;
    border-radius: 12px;
}

.right-section input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 300px;
}

.avatar{
    align-items: center;
}
.avatar p{
    margin-top: 15px;
}

@media screen and (max-width:1200px){
    .right-section{
        display: none !important;
    }
   
}

@media screen and (max-width:768px) {
    .right-section ul{
        display: none;
    }
    .right-section .rounded-circle{
        display: none;
    }
    .right-section .mt-3, .right-section img{
        display: none;
    }
    
}



.section-1 .left-section .first-card{
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
       padding: 20px;
    height: 60vh;
    position: relative;
}
.section-1 .left-section .first-card img{
    position: absolute;
    border-radius: 12px;
}
