@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.navbar-toggler{
    display: none;
}

@media screen and (max-width:1200px){
    .navbar-toggler{
        display: inline;
        order: -1;
    }
   
}


nav .navbar-brand{
    text-decoration: none;
    color: #FC4308;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
}

nav .categories-list{
    align-items: center;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 15px;
}

.header-icon img{
    width: 120px;
}

.search-input{
    border: 1px solid #F5F5F5;
    background-color: #F5F5F5;
}

.left-icon input{
    border: none;
    outline: none;
    background: transparent;
}

.right-section .search-text{
    border: 1px solid #F5F5F5;
    display: flex;
    padding: 12px;
    background-color: #F5F5F5;
    width: auto;
    padding:14px, 16px, 14px, 16px;
    height: 48px;
    border-radius: 12px;
}

.right-section input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 300px;
}

.avatar{
    align-items: center;
}
.avatar p{
    margin-top: 15px;
}

@media screen and (max-width:1200px){
    nav .right-section{
        display: none !important;
    }
   
}

@media screen and (max-width:768px) {
    .right-section ul{
        display: none;
    }
    .right-section .rounded-circle{
        display: none;
    }
}


.section-1 .left-section{
    width: 70%;
}
@media screen and (max-width:1200px) {
    .section-1 .left-section{
        width: 100%;
    }
}
.section-1 .left-section .first-card{
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
    padding: 20px;
    height: 504px;
}
.section-1 .left-section .first-card img{
    border-radius: 12px;
    width: 100%;
    height: 498px;
    object-fit: cover;
}

.section-1 .first-card-icons-container{
    justify-content: center;
    gap: 30px;
}
.section-1 .icons-first-card{
    display: flex;
    align-items: center;
}

.section-1 .first-card-icons-container .icons-first-card p{
    text-transform: capitalize;
    font-size: 14px;
    color: rgba(62, 50, 50, 0.75);
    font-weight: 500;
}

.section-1 .second-card img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}
.comments .left-section{
    display: flex;
    align-items: center;
    line-height: 23.44px;
    font-weight: 500;
}
.comments .left-section .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}
.comments .comment img{
    width: 100%;
}

.add-comment .left-section{
    display: flex;
    align-items: center;
    line-height: 23.44px;
    font-weight: 500;
}
.add-comment .left-section .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}

.section-1 .left-right .right-section .buttons-section{
    gap: 8px;
}
.section-1 .left-right .right-section .button{
    font-size: 14px;
    background-color: rgba(245, 245, 245, 1);
    height: 40px;
    width: 108px;
    color: rgba(62, 50, 50, 0.75);
    border-radius: 12px;
}
.add-comment .comment img{
    width: 100%;
}
.form-tablet{
    display: none;
}
.form-section .form{
    display: flex;
    width: 100%;
    
}

.form-section .right-section{
    width: 100%;
}
.form-section .form .left-section{
    display: flex;
    flex-direction: column;
}
.form-section .form .left-section input{
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 12px;
    outline: none;
    background-color: rgba(245, 245, 245, 1);
    padding: 8px;
}

.form-section .right-section{
    display: flex;
    flex-direction: column;
}

.form-section .right-section input{
    background-color: rgba(245, 245, 245, 1);
    width: 500px;
    border-radius: 12px;
    padding: 8px;
    outline: none;
}
label{
    font-weight: 500;
}
textarea{
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
    border: none;
    outline: none;
    resize: none;
    padding: 15px;
}
::placeholder{
    color: rgba(62, 50, 50, 0.75);
}
.form-end-container .rate{
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 1);
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    border-radius: 12px;

}
.form-end-container p{
    font-weight: 500;
}

.form-end-container .emoji-good{
    background-color: rgba(38, 222, 129, 1);
    color: rgba(245, 245, 245, 1);
    width: 98px;
    height: 40px;
    border-radius: 12px;
}
.send-comment{
    background-color: rgba(248, 21, 57, 0.75);
    color: rgba(245, 245, 245, 1);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    height: 48px;
}


.related-posts .left-section{
    display: flex;
    align-items: center;
    line-height: 23.44px;
    font-weight: 500;
}
.related-posts .left-section .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}
.related-posts .comment img{
    width: 100%;
}




.section-2-header{
    display: flex;
    justify-content: space-between;
}
.section-2-header .left-section{
    display: flex;
    align-items: center;
    line-height: 23.44px;
    font-weight: 500;
}

.section-2-header .left-section .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}
.section-2 .cards-8{
    display: flex;
    gap: 25px;
    overflow-x: scroll;
}

.section-2 .cards-8::-webkit-scrollbar{
    display: none;
}
.section-2 .right-section-buttons .buttons{
    display: flex;
    gap: 15px;
}
.section-2 .right-section-buttons .buttons .button-border{
    width: 40px;
    height: 40px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

.section-2 .cards-8 .card{
    flex: none;
    border: none;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);

}


.section-2 .cards-8 h5{
    font-size: 16px !important;
}

.section-2 .cards-8 p{
    font-size: 14px;
    color: rgba(62, 50, 50, 0.75);
    text-transform: capitalize;
}

.section-2 .card-end{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 1);
}
.section-2 .card-end .left-section .image-text{
    line-height: 22px;
    align-items: center;
}
.section-2 .card-end .left-section .image-text b{
    font-size: 14px;
}
.section-2 .card-end .left-section .image-text p{
    font-size: 12px;
}

.section-2 .card-end .left-section img{
    border-radius: 12px;
}


.footer-section .left-section .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}

.footer-section .left-main{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 1);
    border-radius:0px 50px 50px 0px;
    
}

.footer-section .left-section .left-section-text{
    width: 350px;
}

.footer-section .left-section .left-section-text p{
    font-size: 14px;
}

.footer-section .input-section input{
    outline: none;
    width: 390px;
    border: none;
}
.footer-section .input-section .input-email{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 10px;
    width: 390px;
}
.footer-section .left-main .copyright-section{
    background-color:rgba(62, 50, 50, 0.05);
    justify-content: space-around;
    margin: 50px;
    border-radius: 0px 12px 12px 0px;
    text-transform: capitalize;
    font-size: 12px;
}
.footer-section .right-section-categories ul{
    list-style: none;
    font-size: 12px;
    line-height: 2.3;
}

.footer-section .right-section-categories a{
    text-decoration: none;
    color: rgba(62, 50, 50, 1);
}

.footer-section .right-section-categories .social-networks{
    display: flex;
}
.footer-section .right-section-categories .social-network{
    
    background: linear-gradient(262.85deg, #F45C9F 5.57%, #FF7563 73.65%);
    border-radius: 12px;
}
.footer-section .right-section-categories .social-network-tw{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(227.96deg, #2CA5E0 11.38%, #67C9F5 84.07%);
}


.footer-section .comments .left-section-header .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}

.footer-section .comments .comments-borders{
    background-color: rgba(245, 245, 245, 1);
    padding: 16px;
    text-transform: capitalize;
    border-radius: 12px;
}

.footer-section .comments p{
    font-size: 12px;
}
.footer-section .comments h5{
    font-size: 16px;
}


@media screen and (max-width:1200px) {
    .footer-section .comments{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .footer-section{
        display: none;
    }
}


.footer-section .follow-instagram .left-section-header .red{
    width: 4px;
    height: 10px;
    border-radius: 12px;
    background-color: rgba(248, 21, 57, 1);
}

.footer-section .follow-instagram img{
    width: 80px;
    object-fit: cover;
    border-radius: 12px;
}

.left-section .right-section-tablet img{
    width: 100%;
    display: none;
}

.left-section .right-section-cards-tablet img{
    width: 100%;
    display: none;
}

.left-section .right-section-comments-tablet img{
    width: 100%;
    display: none;
}
.left-section .right-section-patricia-comment img{
    width: 100%;
    display: none;
}
@media screen and (max-width:1200px) {
    .follow-instagram{
        display: none;
    }
}


@media screen and (max-width:1200px) {
    .section-1 .left-section{
        width: 100%;
    }
    .section-1 .right-section-30{
        display: none;
    }
    .section-1 .second-card img{
        width: 80%;
    }
    .section-1 .left-section .first-card{
        height: 300px;
        background: white;
    }
    .section-1 .left-section .first-card img{
        width: 100%;
        height: 300px;
    }
    .section-1 .left-section .right-section-tablet img{
        display: inline;
    }
    
    .left-section .right-section-cards-tablet img{
        display: inline;
    }
    .left-section .right-section-comments-tablet img{
        display: inline;
    }
    
    .section-1 .left-section .comments{
        display: none;
    }
}

@media screen and (max-width:430px) {
    .section-1 .first-card-icons-container{
        padding-top: 30px;
    }
}
.form-tablet .form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form-tablet .form input{
    background-color: rgba(245, 245, 245, 1);
    outline: none;
    border-radius: 12px;
    border: none;
    padding: 10px;
}
.form-tablet .form .rate{
    width: 100%;
    margin-top: 20px;
}
.form-tablet .form .form-end-container{
    flex-direction: column;
}
.form-tablet .send-comment{
    width: fit-content;
    margin-left: auto !important;
}

@media screen and (max-width:1200px) {
    .form-tablet{
        display: inline;
    }
    .form-section{
        display: none;
    }
}